extends ./layout

block content
	#topbar
		h1.title='The Cookie Facts'
		div.run-all
			a(href='/run-all') Run All Scenarios &raquo;
	#content
		div.results-list
			- for(key in scenarios){
				div.scenario(id=scenarios[key].testid)
					h2
						span.name #{scenarios[key].name}
						span.run
							a(href=scenarios[key].startUrl)= 'Run Scenario &raquo;'
					div.description #{scenarios[key].description}
					div.result-table !{scenarios[key].generateResultsTable(results)}
			- }