extends ./layout

block content
	#topbar
		h1.title='Pardot Push API'
		.notify.error='Not Authenticated'
	#console

	#authbox
		h2='Login'
		div.notify.error='This is a test'
		form(action='#', method='post')
			div.email
				label='Email'
				input(type='text',name='email',id='email')
			div.password
				label='Password'
				input(type='password',name='password',id='password')
			div.submit
				button(id='submit')='Submit'