extends ./layout

block content
	#topbar
		h1.title='Cookie Facts'
	#console

	#content
		div.scenario-list
			h2='Scenarios'
			- for(key in scenarios){
				li
					a(href=scenarios[key].startUrl)= scenarios[key].name
			- }
		
		div.results-list
			h2='Results'
			- testresults.forEach(function(item){
				!{item}
			- })