!!! 5
head
	meta(charset='utf-8')
	title='Testing: ' + testid
	link(rel='stylesheet', href=cssUrl)
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')

body
	img(src=imageUrl)
	iframe(src=iframeUrl)
	form(id='sendresults',method='POST',action=verifyUrl, enctype='application/x-www-form-urlencoded')
		input(type='hidden',name='expectedcookies', value=expectedCookies)
	

	script(type='text/javascript')
		//xhr get
		$.get('#{xhrGetUrl}', function(){ });
		
		//xhr post
		$.ajax({
			url: '#{xhrPostUrl}',
			type: 'POST',
			data: {},
			dataType: 'json'
		});

		//xhr post + withCredentials
		$.ajax({
			url: '#{xhrPostWithCredsUrl}',
			type: 'POST',
			data: {},
			dataType: 'json',
			xhrFields: {
				withCredentials: true
			}
		});

		//jsonp
		$.getJSON('#{jsonpUrl}?callback=?', function(){ });

	- if(typeof(javascriptReadUrl) !== 'undefined'){
		script(type='text/javascript')
			if(document.cookie.indexOf('readable=#{testid}')> -1){
				$('body').append("<iframe src='#{javascriptReadUrl}'></iframe>");
			}
	- }

	- if((typeof(write) !== 'undefined') && write){
		script(type='text/javascript')
			document.cookie = '#{testid}-javascript=yes';
	- }

	- if((typeof(jsRedirect) !== 'undefined') && (jsRedirect != '') ){
		script(type='text/javascript')
			setTimeout(function(){
				window.location = '#{jsRedirect}';
			}, 400);
	- }
	- else {
		script(type='text/javascript')
			setTimeout(function(){
				$('#sendresults').submit();
			}, 400);
	- }



block footer
	footer
	script(src=scriptUrl)
	